@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Por defecto: Modo claro */
.border {
  border-color: #E5E7EB; /* light-border */
}

/* Cuando el tema oscuro está activo */
.dark .border {
  border-color: #374151; /* dark-border */
}
